

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MySports</title>
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
  <script src="assets/js/index.js" type="text/javascript"></script>
</head>
<body>

  <div id="header">
    <div id="title">
      My Sports
    </div>
  </div>
  
  <div id="wrapper">
    
    <ul id="sortable">
      <li class="ui-state-default" id="box1"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('1')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box2"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('2')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box3"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href='#' onclick="javascript:Popup('3')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box4"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('4')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box5"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('5')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box6"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('6')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box7"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('7')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box8"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('8')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box9"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('9')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box10"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('10')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box11"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('11')">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box12"><div class="sportsWrapper"><div class="sportsContent"><a class="button addNew" href="#" onclick="javascript:Popup('12')">Add Sports Data</a></div></div></li>
    </ul>
   </div>
</body>
</html>