<!DOCTYPE hmtl>
<html>
  <head>
    <title>MySports</title>
  </head>
  <body>
    <h1><%= @word %></h1>
    <h1><% puts @data %></h1>
    <% for @name in @all_teams_names %>
    	<%= @name %>
    <% end %>
  </body>
</html>