

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MySports</title>

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
  <script type="text/javascript" src="assets/js/materialize.js"></script>
  <script type="text/javascript" src="assets/js/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/chosen.proto.min.js"></script>
  <link href="assets/css/chosen.min.css" rel="stylesheet" type="text/css" >
  <link href="assets/css/materialize.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >

  <script src="assets/js/index.js" type="text/javascript"></script>
  <script src="assets/js/modals.js" type="text/javascript"></script>
  <script src="assets/js/constants.js" type="text/javascript"></script>
  <script src="assets/js/form.js" type="text/javascript"></script>
  <script src="assets/js/handlebars_helpers.js" type="text/javascript"></script>
  <script src="assets/js/helpers.js" type="text/javascript"></script>

</head>
<body>

  <div id="header">
    <div id="title">
      My Sports
    </div>
    <div id="welcome">
      <%= erb :login %>
    </div>
  </div>

  <div id="filterNav">
    <ul>
        <li class="filterOption" id="noFilter">No Filter</li>
        <li class="filterOption" id="nfl">NFL</li>
        <li class="filterOption" id="nhl">NHL</li>
        <li class="filterOption" id="nba">NBA</li>
        <li class="filterOption" id="mlb">MLB</li>
    </ul>
  </div>
  <div id="wrapper">
  <% if logged_in? %>
    <script type="text/javascript">
      $('#filterNav').css("display", "block");
      $('#welcome').css("display", "block");
    </script>

      <ul id="sortable">
        <li class="ui-state-default" id="box1">
            <div class="sportsWrapper">
               <img src="assets/images/cancel.png" class="cancelButton" onclick="deleteTile(this)">
               <div id="logo"></div>
               <div class="sportsContent">
                  <img id = "box1" onclick="popup('#box1')" class="plusImg" src="assets/images/plus.png" /><br />
              </div>
              <div class="modal-trigger-area">
                <a href="#modal1" class="modal-trigger details">More Details</a>
              </div>
            </div>
            <div id="modal1" class="modal">
            </div>
        </li>
      </ul>


    <!-- ADD SPORTS DATA FORM -->
    <%= erb :form %>
    <% else %>
      <div class="light-wrap center">
        <%= erb :login_signup_forms %>
      </div>
    <% end %>
  </div>
</body>
</html>


<!-- HANDLEBAR TEMPLATES -->

<!-- MODAL -->
<script id="basicInfo" type="text/x-handlebars-template">​
 <h1> {{name_full}} </h1>
<h2>Background</h2>
<table class='player-stats-table'>
  <tr><td>Home Town: </td><td> {{birth_place}} </td></tr>
  <tr><td>Birthdate: </td><td> {{birthdate}} </td></tr>
  <tr><td>High School: </td><td> {{high_school}} </td></tr>
  <tr><td>College: </td><td> {{college}} </td></tr>
  <tr><td>Draft: </td><td>Round {{draft_round}}, {{draft_pick}} overall</td></tr>
  <tr><td>Years in League: </td><td> {{experience}} </td></tr>
  <tr><td>Height: </td><td> {{inchesToHeight height}}</td></tr>
  <tr><td>Weight: </td><td> {{weight}} lbs</td></tr>
  <tr><td>Jersey Number: </td><td>{{jersey_number}}</td></tr>
</table>
​</script>

<script id="passing" type="text/x-handlebars-template">​
<h2>Passing</h2>
<table class='player-stats-table'>
  <tr><td>Attempts: </td><td> {{passing.att}}</td></tr>
  <tr><td>Completions: </td><td> {{passing.cmp}}</td></tr>
  <tr><td>Completion Percentage: </td><td> {{passing.cmp_pct}}</td></tr>
  <tr><td>Yards: </td><td> {{passing.yds}}</td></tr>
  <tr><td>Yards/Reception: </td><td> {{passing.cmp_avg}}</td></tr>
  <tr><td>Long: </td><td> {{passing.lg}}</td></tr>
  <tr><td>Touchdowns: </td><td> {{passing.td}}</td></tr>
  <tr><td>INTs: </td><td> {{passing.int}}</td></tr>
  <tr><td>Pick-6: </td><td> {{passing.int_td}}</td></tr>
  <tr><td>Sacks: </td><td> {{passing.sk}}</td></tr>
  <tr><td>Sack yards lost: </td><td> {{passing.sk_yds}}</td></tr>
</table>
</script>

<script id="rushing" type="text/x-handlebars-template">​
<h2>Rushing</h2>
<table class='player-stats-table'>
  <tr><td>Attempts: </td><td> {{rushing.att}}</td></tr>
  <tr><td>Yards: </td><td> {{rushing.yds}}</td></tr>
  <tr><td>Average: </td><td> {{rushing.avg}}</td></tr>
  <tr><td>Long: </td><td> {{rushing.lg}}</td></tr>
  <tr><td>Touchdowns: </td><td> {{rushing.td}}</td></tr>
</table>
</script>

<script id="fumbles" type="text/x-handlebars-template">​
<h2>Fumbles</h2>
<table class='player-stats-table'>
  <tr><td>Total: </td><td>{{fumbles.fum}}</td></tr>
  <tr><td>Lost: </td><td>{{fumbles.lost}}</td></tr>
</table>
</script>

<script id="receiving" type="text/x-handlebars-template">​
<h2>Receiving</h2>
<table class='player-stats-table'>
  <tr><td>Receptions: </td><td>{{receiving.rec}}</td></tr>
  <tr><td>Yards: </td><td>{{receiving.yds}}</td></tr>
  <tr><td>Average: </td><td>{{receiving.avg}}</td></tr>
  <tr><td>Long: </td><td>{{receiving.lg}}</td></tr>
  <tr><td>Touchdowns: </td><td>{{receiving.td}}</td></tr>
  <tr><td>Yards After Catch: </td><td>{{receiving.yac}}</td></tr>
  <tr><td>First Downs: </td><td>{{receiving.fd}}</td></tr>
</table>
</script>

<script id="penalties" type="text/x-handlebars-template">​
<h2>Penalties</h2>
<table class='player-stats-table'>
  <tr><td>Number: </td><td> {{penalty.num}}</td></tr>
  <tr><td>Yards: </td><td> {{penalty.yds}}</td></tr>
</table>
</script>

<script id="kick_returns" type="text/x-handlebars-template">​
<h2>Kick Returns</h2>
<table class='player-stats-table'>
  <tr><td>Number: </td><td> {{kick_return.returns}}</td></tr>
  <tr><td>Yards: </td><td> {{kick_return.yds}}</td></tr>
  <tr><td>Touchdowns: </td><td> {{kick_return.td}}</td></tr>
  <tr><td>Average: </td><td> {{kick_return.avg}}</td></tr>
  <tr><td>Long: </td><td> {{kick_return.lg}}</td></tr>
</table>
</script>

<script id="punt_returns" type="text/x-handlebars-template">​
<h2>Punt Returns</h2>
<table class='player-stats-table'>
  <tr><td>Number: </td><td>{{punt_return.returns}}</td></tr>
  <tr><td>Yards: </td><td>{{punt_return.yds}}</td></tr>
  <tr><td>Touchdowns: </td><td>{{punt_return.td}}</td></tr>
  <tr><td>Average: </td><td>{{punt_return.avg}}</td></tr>
  <tr><td>Long: </td><td>{{punt_return.lg}}</td></tr>
  <tr><td>Fair Catches: </td><td>{{punt_return.fc}}</td></tr>
</table>
</script>

<!-- BOX SUMMARY -->

<script id="summary_header" type="text/x-handlebars-template">​
<b>{{position}} &nbsp; {{name_full}}</b><br /><hr />
</script>

<script id="summary_quarterback" type="text/x-handlebars-template">​
<table class='player-stats-table'>
  <tr><td>Passing Attempts: </td><td>{{passing.att}}</td></tr>
  <tr><td>Completions: </td><td>{{passing.cmp}}</td></tr>
  <tr><td>Yards: </td><td>{{passing.yds}}</td></tr>
  <tr><td>Touchdowns: </td><td>{{passing.td}}</td></tr>
  <tr><td>INTs: </td><td>{{passing.int}}</td></tr>
  <tr><td>QBR: </td><td>{{passing.rating}}</td></tr>
</table>
</script>

<script id="summary_wide_receiver" type="text/x-handlebars-template">​
<table class='player-stats-table'>
  <tr><td>Total TDs: </td><td> {{touchdowns.total}}</td></tr>
  <tr><td>Receptions: </td><td> {{receiving.rec}}</td></tr>
  <tr><td>Yards: </td><td> {{receiving.yds}}</td></tr>
  <tr><td>Long: </td><td> {{receiving.lg}}</td></tr>
  <tr><td>First Downs: </td><td> {{receiving.fd}}</td></tr>
</table>
</script>

<script id="summary_running_back" type="text/x-handlebars-template">​
<table class='player-stats-table'>
  <tr><td>Rushing Attempts: </td><td>{{rushing.att}}</td></tr>
  <tr><td>Rushing Yards: </td><td>{{rushing.yds}}</td></tr>
  <tr><td>Average: </td><td>{{rushing.avg}}</td></tr>
  <tr><td>Rushing TDs: </td><td>{{rushing.td}}</td></tr>
  <tr><td>Receptions: </td><td>{{receiving.rec}}</td></tr>
  <tr><td>Receiving Yards: </td><td>{{receiving.yds}}</td></tr>
  <tr><td>Receiving TDs: </td><td>{{receiving.td}}</td></tr>
</table>
</script>

<script id="summary_nhl_team" type="text/x-handlebars-template">
  <h3>Team</h3>
  <b>Name:</b>{{name}}<br />
  <b>Alias:</b>{{alias}}<br />
  <b>Market:</b>{{market}}<br />
  <b>Conference:</b>{{conference}}<br />
  <b>Division:</b>{{division}}<br />
  <h3>Venue</h3>
  <b>Name</b>{{venue.name}}<br />
  <b>Capacity</b>{{venue.capacity}}<br />
  <b>City</b>{{venue.city}}<br />
  <b>State</b>{{venue.state}}<br />
</script>

<script id="summary_nhl_skater" type="text/x-handlebars-template">
  <b>{{position}} &nbsp; {{full_name}}</b><br /><hr />
  <table class='player-stats-table'>
    <tr><td>Number:</td><td>{{jersey_number}}</td></tr>
    <tr><td>Position:</td><td>{{position}}</td></tr>
    <tr><td>Height:</td><td>{{height}}</td></tr>
    <tr><td>Weight:</td><td>{{weight}}</td></tr>
    <tr><td>Team:</td><td>{{team.alias}}</td></tr>
    <tr><td>Goals:</td><td>{{team.statistics.total.goals}}</td></tr>
    <tr><td>Assists:</td><td>{{team.statistics.total.assists}}</td></tr>
  </table>
</script>

<script id="summary_nhl_goalie" type="text/x-handlebars-template">
  <b>{{position}} &nbsp; {{full_name}}</b><br /><hr />
  <table class='player-stats-table'>
    <tr><td>Number:</td><td>{{jersey_number}}</td></tr>
    <tr><td>Position:</td><td>{{position}}</td></tr>
    <tr><td>Height:</td><td>{{height}}</td></tr>
    <tr><td>Weight:</td><td>{{weight}}</td></tr>
    <tr><td>Team:</td><td>{{team.alias}}</td></tr>
    <tr><td>SV%:</td><td>{{goaltending.total.saves_pct}}</td></tr>
    <tr><td>GAA:</td><td>{{goaltending.average.goals_against}}</td></tr>
  </table>
</script>

<script id="summary_nhl_skater_modal" type="text/x-handlebars-template">
<h2>Basic Information</h2>
<h3>{{full_name}}: &nbsp; {{position}} for {{team.market}} {{team.name}}</h3><br /><hr />
<table class='player-stats-table'>
  <tr><td>Number:</td><td>{{jersey_number}}</td></tr>
  <tr><td>Position:</td><td>{{position}}</td></tr>
  <tr><td>Height:</td><td>{{height}}</td></tr>
  <tr><td>Weight:</td><td>{{weight}}</td></tr>
</table>
<h3>Scoring</h3>
<table class='player-stats-table'>
  <tr><td>Goals:</td><td>{{team.statistics.total.goals}}</td></tr>
  <tr><td>Assists:</td><td>{{team.statistics.total.assists}}</td></tr>
  <tr><td>Points:</td><td>{{team.statistics.total.points}}</td></tr>
  <tr><td>+/-:</td><td>{{team.statistics.total.plus_minus}}</td></tr>
  <tr><td>GWG:</td><td>{{team.statistics.total.winning_goals}}</td></tr>
</table>
<h3>Time On Ice</h3>
<table class='player-stats-table'>
  <tr><td>Shifts:</td><td>{{team.time_on_ice.shifts}}</td></tr>
  <tr><td>Shifts per game:</td><td>{{team.time_on_ice.shifts_pg}}</td></tr>
  <tr><td>Total Time On Ice:</td><td>{{team.time_on_ice.total}}</td></tr>
  <tr><td>TOI per game</td><td>{{team.time_on_ice.toi_pg}}</td></tr>
</table>
<h3>Even Strength</h3>
<table class='player-stats-table'>
  <tr><td>Goals:</td><td>{{team.statistics.even_strength.goals}}</td></tr>
  <tr><td>Assists:</td><td>{{team.statistics.even_strength.assists}}</td></tr>
  <tr><td>Shots:</td><td>{{team.statistics.even_strength.shots}}</td></tr>
  <tr><td>Missed Shots</td><td>{{team.statistics.even_strength.missed_shots}}</td></tr>
</table>
<h3>Powerplay</h3>
<table class='player-stats-table'>
  <tr><td>Goals:</td><td>{{team.statistics.powerplay.goals}}</td></tr>
  <tr><td>Assists:</td><td>{{team.statistics.powerplay.assists}}</td></tr>
  <tr><td>Shots:</td><td>{{team.statistics.powerplay.shots}}</td></tr>
  <tr><td>Missed Shots</td><td>{{team.statistics.powerplay.missed_shots}}</td></tr>
</table>
<h3>Shootout</h3>
<table class='player-stats-table'>
  <tr><td>Goals:</td><td>{{team.statistics.shootout.goals}}</td></tr>
  <tr><td>Shots:</td><td>{{team.statistics.shootout.shots}}</td></tr>
  <tr><td>Missed Shots</td><td>{{team.statistics.shootout.missed_shots}}</td></tr>
</table>
</script>

<script id="summary_nhl_goalie_modal" type="text/x-handlebars-template">
  <h2>Basic Information</h2>
  <h3>{{full_name}}: &nbsp; {{position}} for {{team.market}} {{team.name}}</h3><br /><hr />
  <table class='player-stats-table'>
    <tr><td>Number:</td><td>{{jersey_number}}</td></tr>
    <tr><td>Position:</td><td>{{position}}</td></tr>
    <tr><td>Height:</td><td>{{height}}</td></tr>
    <tr><td>Weight:</td><td>{{weight}}</td></tr>
  </table>
  <h3>Averages</h3>
  <table class='player-stats-table'>
    <tr><td>SV%:</td><td>{{goaltending.total.saves_pct}}</td></tr>
    <tr><td>GAA:</td><td>{{goaltending.average.goals_against}}</td></tr>
    <tr><td>Shots PG:</td><td>{{goaltending.average.shots_against}}</td></tr>
  </table>
  <h3>Even Strength</h3>
  <table class='player-stats-table'>
    <tr><td>Shots Against:</td><td>{{goaltending.even_strength.shots_against}}</td></tr>
    <tr><td>Saves</td><td>{{goaltending.even_strength.saves}}</td></tr>
    <tr><td>Goals Allowed:</td><td>{{goaltending.even_strength.goals_against}}</td></tr>
    <tr><td>Save %:</td><td>{{goaltending.even_strength.saves_pct}}</td></tr>
  </table>
  <h3>Shorthanded</h3>
  <table class='player-stats-table'>
    <tr><td>Shots Against:</td><td>{{goaltending.shorthanded.shots_against}}</td></tr>
    <tr><td>Saves</td><td>{{goaltending.shorthanded.saves}}</td></tr>
    <tr><td>Goals Allowed:</td><td>{{goaltending.shorthanded.goals_against}}</td></tr>
    <tr><td>Save %:</td><td>{{goaltending.shorthanded.saves_pct}}</td></tr>
  </table>
  <h3>Powerplay</h3>
  <table class='player-stats-table'>
    <tr><td>Shots Against:</td><td>{{goaltending.powerplay.shots_against}}</td></tr>
    <tr><td>Saves</td><td>{{goaltending.powerplay.saves}}</td></tr>
    <tr><td>Goals Allowed:</td><td>{{goaltending.powerplay.goals_against}}</td></tr>
    <tr><td>Save %:</td><td>{{goaltending.powerplay.saves_pct}}</td></tr>
  </table>
  <h3>Shootouts</h3>
  <table class='player-stats-table'>
    <tr><td>Shots Against:</td><td>{{goaltending.shootout.shots_against}}</td></tr>
    <tr><td>Saves</td><td>{{goaltending.shootout.saves}}</td></tr>
    <tr><td>Goals Allowed:</td><td>{{goaltending.shootout.goals_against}}</td></tr>
    <tr><td>Save %:</td><td>{{goaltending.shootout.saves_pct}}</td></tr>
  </table>
</script>

<script id="summary_nhl_standings_modal" type="text/x-handlebars-template">
  <h2>Standings for the {{name}} Conference</h2>
  <h3>Standings</h3>
  <table class='player-stats-table'>
    <thead>
      <th>Name</th>
      <th>Games Played</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>OTL</th>
      <th>Points</th>
    </thead>
    <tbody>
      {{#each teams}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.games_played}}</td>
        <td>{{this.wins}}</td>
        <td>{{this.losses}}</td>
        <td>{{this.overtime_losses}}</td>
        <td>{{this.points}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <h3>Goals</h3>
    <table class='player-stats-table'>
      <thead>
        <th>Goals For</th>
        <th>Goals Against</th>
        <th>Goal Diff</th>
      </thead>
      <tbody>
      {{#each teams}}
      <tr>
        <td>{{this.goals_for}}</td>
        <td>{{this.goals_against}}</td>
        <td>{{this.goal_diff}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <h3>Regulation / Overtime / Shootout</h3>
  <table class='player-stats-table'>
    <thead>
      <th>Regulation Wins</th>
      <th>Regulation Losses</th>
      <th>Overtime Wins</th>
      <th>Overtime Losses</th>
      <th>Shootout Wins</th>
      <th>Shootout Losses</th>
    </thead>
    {{#each teams}}
    <tr>
      <td>{{this.regulation_wins}}</td>
      <td>{{this.losses}}</td>
      <td>{{this.overtime_wins}}</td>
      <td>{{this.overtime_losses}}</td>
      <td>{{this.shootout_wins}}</td>
      <td>{{this.shootout_losses}}</td>
    </tr>
    {{/each}}
  </table>
  <h3>Special Teams</h3>
  <table class='player-stats-table'>
    <thead>
      <th>Powerplays</th>
      <th>PP Goals</th>
      <th>PP%</th>
      <th>Powerplays Against</th>
      <th>PPG Against</th>
      <th>PK%</th>
    </thead>
    {{#each teams}}
    <tr>
      <td>{{this.powerplays}}</td>
      <td>{{this.powerplay_goals}}</td>
      <td>{{this.powerplay_pct}}</td>
      <td>{{this.powerplays_against}}</td>
      <td>{{this.powerplay_goals_against}}</td>
      <td>{{this.penalty_killing_pct}}</td>
    </tr>
    {{/each}}
  </table>
  </table>
  <h3>Records</h3>
  <table class='player-stats-table'>
    <thead>
      <th>Streak Type</th>
      <th>Streak Length</th>
      <th>Last 10</th>
      <th>Home</th>
      <th>Road</th>
    </thead>
    {{#each teams}}
    <tr>
      <td>{{this.streak.type}}</td>
      <td>{{this.streak.length}}</td>
      <td>{{this.records.last_10.wins}}-{{this.records.last_10.losses}}-{{this.records.last_10.overtime_losses}}</td>
      <td>{{this.records.home.wins}}-{{this.records.home.losses}}-{{this.records.home.overtime_losses}}</td>
      <td>{{this.records.road.wins}}-{{this.records.road.losses}}-{{this.records.road.overtime_losses}}</td>
    </tr>
    {{/each}}
  </table>
</script>
<!-- BOX OUTLINE -->
<script id="outline" type="text/x-handlebars-template">
<li class="ui-state-default" id="box{{num}}">
    <div class="sportsWrapper">
       <img src="assets/images/cancel.png" class="cancelButton" onclick="deleteTile(this)">
       <div id="logo"></div>
       <div class="sportsContent">
          <img id = "box{{num}}" onclick="popup('#box{{num}}')" class="plusImg" src="assets/images/plus.png" /><br />
      </div>
      <div class="modal-trigger-area">
        <a href="#modal{{num}}" class="modal-trigger details">More Details</a>
      </div>
    </div>
    <div id="modal{{num}}" class="modal">
    </div>
</li>
</script>

<script id="summary_nba_team" type="text/x-handlebars-template">
  <h3>Team</h3>
  <b>Name:</b> {{name}}<br />
  <b>Alias:</b> {{alias}}<br />
  <b>Market:</b> {{market}}<br />
  <b>Conference:</b> {{conference}}<br />
  <b>Division:</b> {{division}}<br />
  <h3>Venue</h3>
  <b>Name</b> {{venue.name}}<br />
  <b>Capacity</b> {{venue.capacity}}<br />
  <b>City</b> {{venue.city}}<br />
  <b>State</b> {{venue.state}}<br />
</script>

<script id="summary_nba_player" type="text/x-handlebars-template">
  <b>{{primary_position}} &nbsp; {{full_name}}</b><br /><hr />
  <table class='player-stats-table'>
    <tr><td>Number</td><td>{{jersey_number}}</td></tr>
    <tr><td>Games Played</td><td>{{total.games_played}}</td></tr>
    <tr><td>PPG:</td><td>{{average.points}}</td></tr>
    <tr><td>Rebounds PG:</td><td>{{average.rebounds}}</td></tr>
    <tr><td>Assists PG:</td><td>{{average.assists}}</td></tr>
    <tr><td>Blocks PG:</td><td>{{average.blocks}}</td></tr>
  </table>
</script>

<script id="modal_nba_player" type="text/x-handlebars-template">
  <h2>{{full_name}}</h2>
  <h3>{{primary_position}} For the {{team.market}} {{team.name}}</h3>
  <br />
  <h3>Totals</h3>
  <table class='player-stats-table'>
    <tr><td>Games Played:</td><td>{{total.games_played}}</td></tr>
    <tr><td>Points:</td><td>{{total.points}}</td></tr>
    <tr><td>Rebounds:</td><td>{{total.rebounds}}</td></tr>
    <tr><td>Assists:</td><td>{{total.assists}}</td></tr>
    <tr><td>Blocks:</td><td>{{total.blocks}}</td></tr>
    <tr><td>Steals:</td><td>{{total.steals}}</td></tr>
    <tr><td>Turnovers:</td><td>{{total.turnovers}}</td></tr>
    <tr><td>Minutes Played:</td><td>{{total.minutes}}</td></tr>
  </table>
  <h3>Field Goals</h3>
  <table class='player-stats-table'>
    <tr><td>Attempts:</td><td>{{total.field_goal_att}}</td></tr>
    <tr><td>Made:</td><td>{{total.field_goal_made}}</td></tr>
    <tr><td>Percent:</td><td>{{total.field_goal_pct}}</td></tr>
  </table>
  <h3>Two Points</h3>
  <table class='player-stats-table'>
    <tr><td>Attempts:</td><td>{{total.two_points_att}}</td></tr>
    <tr><td>Made:</td><td>{{total.two_points_made}}</td></tr>
    <tr><td>Percent:</td><td>{{total.two_points_pct}}</td></tr>
  </table>
  <h3>Three Points</h3>
  <table class='player-stats-table'>
    <tr><td>Attempts:</td><td>{{total.three_points_att}}</td></tr>
    <tr><td>Made:</td><td>{{total.three_points_made}}</td></tr>
    <tr><td>Percent:</td><td>{{total.three_points_pct}}</td></tr>
  </table>
  <h3>Free Throws</h3>
  <table class='player-stats-table'>
    <tr><td>Attempts:</td><td>{{total.free_throws_att}}</td></tr>
    <tr><td>Made:</td><td>{{total.free_throws_made}}</td></tr>
    <tr><td>Percent:</td><td>{{total.free_throws_pct}}</td></tr>
  </table>
  <h3>Fouls</h3>
  <table class='player-stats-table'>
    <tr><td>Personal:</td><td>{{total.personal_fouls}}</td></tr>
    <tr><td>Technical:</td><td>{{total.tech_fouls}}</td></tr>
    <tr><td>Flagrant:</td><td>{{total.flagrant_fouls}}</td></tr>
  </table>
</script>
