

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MySports</title>
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <link href="assets/styles.css" rel="stylesheet" type="text/css" />
  <link href="assets/jquery-ui.css" rel="stylesheet" type="text/css" >
  

  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
</head>
<body>

  <div id="header">
    <div id="title">
      My Sports
    </div>
  </div>
  
  <div id="wrapper">
    
    <ul id="sortable">
      <li class="ui-state-default">
        <div class="sportsWrapper">
          <div class="sportsTitle">
            NFL Standings
          </div>
          <hr>
          <div class="sportsContent">


<b>American Football Conference - 2014 Regular Season</b><br/><br/>
<b>AFC East Team W L</b> <br/>
Buffalo Bills 3 2 <br/>
New England Patriots  3 2 <br/>
Miami Dolphins  2 2 <br/>
New York Jets 1 4 <br/><br/>
<b>AFC North Team  W L</b> <br/>
Cincinnati Bengals  3 1 <br/>
Baltimore Ravens  3 2 <br/>
Pittsburgh Steelers 3 2 <br/>
Cleveland Browns  2 2 <br/><br/>
<b>AFC South Team  W L</b> <br/>
Indianapolis Colts  3 2<br/>
Houston Texans  3 2 <br/>
Tennessee Titans  1 4 <br/>
Jacksonville Jaguars  0 5 <br/><br/>
<b>AFC West Team W L</b> <br/>
San Diego Chargers  4 1<br/>
Denver Broncos  3 1<br/>
Kansas City Chiefs  2 3 <br/>
Oakland Raiders 0 4<br/>



          </div>
        </div>
      </li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
      <li class="ui-state-default"><a class="button addNew" href="addinfo.html">Add Sports Data</a></li>
    </ul>
   </div>
</body>
</html>