

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MySports</title>
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <link href="assets/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
  <script src="assets/js/index.js" type="text/javascript"></script>
</head>
<body>

  <div id="header">
    <div id="title">
      My Sports
    </div>
  </div>
  
  <div id="wrapper">
    
    <ul id="sortable">
      <li class="ui-state-default" id="box1"><div class="sportsWrapper"><div class="sportsContent"><a id = "box1" onclick="popup('#box1')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box2"><div class="sportsWrapper"><div class="sportsContent"><a id = "box2" onclick="popup('#box2')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box3"><div class="sportsWrapper"><div class="sportsContent"><a id = "box3" onclick="popup('#box3')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box4"><div class="sportsWrapper"><div class="sportsContent"><a id = "box4" onclick="popup('#box4')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box5"><div class="sportsWrapper"><div class="sportsContent"><a id = "box5" onclick="popup('#box5')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box6"><div class="sportsWrapper"><div class="sportsContent"><a id = "box6" onclick="popup('#box6')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box7"><div class="sportsWrapper"><div class="sportsContent"><a id = "box7" onclick="popup('#box7')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box8"><div class="sportsWrapper"><div class="sportsContent"><a id = "box8" onclick="popup('#box8')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box9"><div class="sportsWrapper"><div class="sportsContent"><a id = "box9" onclick="popup('#box9')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box10"><div class="sportsWrapper"><div class="sportsContent"><a id = "box10" onclick="popup('#box10')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box11"><div class="sportsWrapper"><div class="sportsContent"><a id = "box11" onclick="popup('#box11')" class="button addNew">Add Sports Data</a></div></div></li>
      <li class="ui-state-default" id="box12"><div class="sportsWrapper"><div class="sportsContent"><a id = "box12" onclick="popup('#box12')" class="button addNew">Add Sports Data</a></div></div></li>
    </ul>
  </div>

  <div id="dialog-form" title="Create new user">
    <p class="validateTips">All form fields are required.</p>
    <form class="form">
      <fieldset>
        <div class="radioButtons">
          <input id = "teamRadio" type="radio" name="category" value="team" checked>Team<br/>
          <input type="radio" name="category" value="player">Player<br/>
        </div>
        <div class="field">
          <label for="name">Team</label>
          <select class="teamList" id="teams" name="team" value ="">
            <option value="ari">Arizona Cardinals</option>                 
            <option value="atl">Atlanta Falcons</option>
            <option value="bal">Baltimore Ravens</option>             
            <option value="buf">Buffalo Bills</option>
            <option value="car">Carolina Panthers</option>               
            <option value="chi">Chicago Bears</option>
            <option value="cin">Cincinnati Bengals</option>               
            <option value="cle">Cleveland Browns</option>
            <option value="dal">Dallas Cowboys</option>            
            <option value="den">Denver Broncos</option>
            <option value="det">Detroit Lions</option>              
            <option value="gb">Green Bay Packers</option>
            <option value="hou">Houston Texans</option>           
            <option value="ind">Indianapolis Colts</option>
            <option value="jac">Jacksonville Jaguars</option>          
            <option value="kc">Kansas City Chiefs</option>
            <option value="mia">Miami Dolphins</option>          
            <option value="min">Minnesota Vikings</option>
            <option value="ne">New England Patriots</option>           
            <option value="no">New Orleans Saints</option>
            <option value="nyg">New York Giants</option>          
            <option value="nyj">New York Jets</option>
            <option value="oak">Oakland Raiders</option>           
            <option value="phi">Philadelphia Eagles</option>
            <option value="pit">Pittsburgh Steelers</option>         
            <option value="sd">San Diego Chargers</option>
            <option value="sf">San Francisco 49ers</option>
            <option value="sea">Seattle Seahawks</option>
            <option value="stl">St Louis Rams</option>            
            <option value="tb">Tampa Bay Buccaneers</option>
            <option value="ten">Tennessee Titans</option>        
            <option value="was">Washington Redskins</option>
          </select>
        </div>
      
        <div class="field" id="players">
          <label for="player">Player Name</label>
          <select id="playerList" type="text" name="player" id="player" value=""></select>
        </div>

        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        
        <div id="submit">
          <input type="submit" value="Submit" tabindex="-1">
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>