<% if(logged_in?) %>
  <div class="button welcome_button" onclick="popupNextBox()"><img class="plusImgSmall" src="assets/images/plus.png" /> Add Data</div>
  <div id="welcomeInfo">
  	 Welcome: <%= current_user.name %>
 	 <a href="/logout">Logout</a>
  </div>
 
<% else %>
  <a href="#loginModal" class="modal-trigger">Log In</a>
  <div id="loginModal" class="modal">
    <%= erb :login_signup_forms %>
  </div>
<% end %>
