<label for="name">Team: </label>
<select class="nhlTeamList chosen-select" id="nbaTeams" name="nbaTeam" value="">
  <optgroup label="Pacific">
    <option value='583ecdfb-fb46-11e1-82cb-f4ce4684ea4c'>Clippers</option>
    <option value='583ed0ac-fb46-11e1-82cb-f4ce4684ea4c'>Kings</option>
    <option value='583ecae2-fb46-11e1-82cb-f4ce4684ea4c'>Lakers</option>
    <option value='583ecfa8-fb46-11e1-82cb-f4ce4684ea4c'>Suns</option>
    <option value='583ec825-fb46-11e1-82cb-f4ce4684ea4c'>Warriors</option>
  </optgroup>
  <optgroup label="Northwest">
    <option value='583ece50-fb46-11e1-82cb-f4ce4684ea4c'>Jazz</option>
    <option value='583ed102-fb46-11e1-82cb-f4ce4684ea4c'>Nuggets</option>
    <option value='583ecfff-fb46-11e1-82cb-f4ce4684ea4c'>Thunder</option>
    <option value='583eca2f-fb46-11e1-82cb-f4ce4684ea4c'>Timberwolves</option>
    <option value='583ed056-fb46-11e1-82cb-f4ce4684ea4c'>Trail Blazers</option>
  </optgroup>
  <optgroup label='Southwest'>
    <option value='583eca88-fb46-11e1-82cb-f4ce4684ea4c'>Grizzlies</option>
    <option value='583ecf50-fb46-11e1-82cb-f4ce4684ea4c'>Mavericks</option>
    <option value='583ecc9a-fb46-11e1-82cb-f4ce4684ea4c'>Pelicans</option>
    <option value='583ecb3a-fb46-11e1-82cb-f4ce4684ea4c'>Rockets</option>
    <option value='583ecd4f-fb46-11e1-82cb-f4ce4684ea4c'>Spurs</option>
  </optgroup>
  <optgroup label='Southeast'>
    <option value='583ecb8f-fb46-11e1-82cb-f4ce4684ea4c'>Hawks</option>
    <option value='583ecea6-fb46-11e1-82cb-f4ce4684ea4c'>Heat</option>
    <option value='583ec97e-fb46-11e1-82cb-f4ce4684ea4c'>Hornets</option>
    <option value='583ed157-fb46-11e1-82cb-f4ce4684ea4c'>Magic</option>
    <option value='583ec8d4-fb46-11e1-82cb-f4ce4684ea4c'>Wizards</option>
  </optgroup>
  <optgroup label='Atlantic'>
    <option value='583ec87d-fb46-11e1-82cb-f4ce4684ea4c'>76ers</option>
    <option value='583eccfa-fb46-11e1-82cb-f4ce4684ea4c'>Celtics</option>
    <option value='583ec70e-fb46-11e1-82cb-f4ce4684ea4c'>Knicks</option>
    <option value='583ec9d6-fb46-11e1-82cb-f4ce4684ea4c'>Nets</option>
    <option value='583ecda6-fb46-11e1-82cb-f4ce4684ea4c'>Raptors</option>
  </optgroup>
  <optgroup label="Central">
    <option value='583ec5fd-fb46-11e1-82cb-f4ce4684ea4c'>Bulls</option>
    <option value='583ec773-fb46-11e1-82cb-f4ce4684ea4c'>Cavaliers</option>
    <option value='583ec7cd-fb46-11e1-82cb-f4ce4684ea4c'>Pacers</option>
    <option value='583ec928-fb46-11e1-82cb-f4ce4684ea4c'>Pistons</option>
    <option value='583ecefd-fb46-11e1-82cb-f4ce4684ea4c'>Bucks</option>
  </optgroup>
</select>
