html {
	font-family: Arial, sans-serif;
	padding: 0px;
}

#header{
	height: 68px;
	font-size: 34px;
	background-color: #346;
	border-bottom: 2px solid #334;
	border-left: 2px solid #334;
	border-right: 2px solid #334;
	margin-top: 0px;
	padding-top: 0px;
}
 
#wrapper {
	width: 100%;
	margin: 0px auto;
	background-color: #ddd;
	overflow: auto;
	min-height: 100%;
	padding-bottom: 10px;

}
#title {
	padding-left: 70px;
	padding-top: 15px;
	color: #fff;
	text-shadow: -2px 0 #334, 0 2px #334, 2px 0 #334, 0 -2px #334;
}


#sortable { 
	list-style-type: none; 
	margin-left: 30px; 
	padding: 0; 
	width: 100%; 
}

#sortable li { 
	margin: 5px 5px 5px 0; 
	padding: 1px; 
	float: left; 
	width: 390px; 
	height: 180px; 
	font-size: 16px; 
	text-align: center; 
	background-color: #fff;
	border: 1px solid #334;
    border-radius: 2px;
    color: #334;
    overflow: scroll;

}

.button {
   border-top: 1px solid #334466;
   background: #333344;
   background: -webkit-gradient(linear, left top, left bottom, from(#334466), to(#333344));
   background: -webkit-linear-gradient(top, #334466, #333344);
   background: -moz-linear-gradient(top, #334466, #333344);
   background: -ms-linear-gradient(top, #334466, #333344);
   background: -o-linear-gradient(top, #334466, #333344);
   padding: 5px 10px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
}

.button:hover {
   border-top-color: #aaaaaa;
   background: #aaaaaa;
   color: #ffffff;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.addNew{
	vertical-align: bottom;
	position: relative;
	left: 125px;
	top: 150px;
}
.sportsWrapper {
	margin: 10px;

}
.sportsContent {
	text-align: left;
}